.popup__container {
    align-self: center;
    background-color: white;
    border-radius: 10px;
    position: relative;
    width: 430px;
    margin: 0 auto;
}

@media screen and (max-width: 620px) {
    .popup__container {
        width: 282px;
    }    
}